doctype html 
html 
  head
    - const title = tour? `Natours | ${tour.name}` : 'Natours'
    title=title
    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' type='image/png' href='/img/favicon.pmg')
  body 
    // Header
    include _header

    //Content
    block content 
      h1 Just a placeholder

    // Footer
    include _footer

