doctype html 
html 
  head
    title Natours | #{title}
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.pmg')
  body 
    // Header
    include _header

    //Content
    block content 
      h1 Just a placeholder

    // Footer
    include _footer

