doctype html 
html 
  head
    title natours 
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.pmg')
  body 
    // Header
    include _header

    //Content
    section.overview 
      h1=tour 

    // Footer

    include _footer

