  //-  h1=tour
  //-  //- hides from rendering but still visible in styles
  //-  // h1 The second heading 
  //-  //- completley hides from rendering and invisible in styles
  //-  //- h1 The second heading 
  //-  p ugh, #{tour} is so much fun 
  //-  -const newcapacity = capacity*4;
  //-  p=newcapacity 
  //-  //-    -newcapacity=4;
  //-  //-    p=newcapacity 